<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabecalho__conteudo">Valor</th>
    <th class="tabela__cabecalho__conteudo">Destino</th>
    <th class="tabela__cabecalho__conteudo">Data</th>
  </thead>
  <tbody *ngIf="transferencias?.length > 0; else listaVazia">
    <tr class="tabela__linha" *ngFor="let item of transferencias">
      <td class="tabela__conteudo">{{ item.valor | currency }}</td>
      <td class="tabela__conteudo">{{ item.destino }}</td>
      <td class="tabela__conteudo">{{ item.data | date: "short" }}</td>
    </tr>
  </tbody>
</table>
<ng-template #listaVazia>
  <p>Nenhuma transferência cadastrada</p>
</ng-template>
